




/* Main */

.title-two {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}



.main {
    background-color: #F4F4FD;
}

.main-title {
    max-width: 496px;
}













