/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Modal window */

.modal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus
 {
    background-color: #404bbf;
    border: none;

}

.close-btn-icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
    fill: #ffffff;
}


.form-header {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.form {
    margin-bottom: 8px;
}


.form-input-info {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-info:focus {
    border-color: #4D5AE5;
}

.form-input-info:focus + .form-input-icon {
    fill: #4D5AE5;
}

.review-form-input-info {
    position: relative;
    margin-bottom: 8px;
}

.form-input-icon {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 16px;
}

.form-textarea {
    margin-bottom: 16px;
}

.form-conmment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-conmment:focus {
    border-color: #4D5AE5;
}

.form-conmment::placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #2E2F4266;
}


.form-contacts {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
        display: block;
        margin-bottom: 4px;
}

.form-accept {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.form-accept {

    margin-bottom: 24px;
        
}

.form-accept-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-input-accept {
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;

}

.form-input-accept:checked + .form-accept-text > .form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}


.form-accept-privacy {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #4D5AE5;
    text-decoration: underline;
}

.form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    display: block;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {

    .modal {
        width: 408px;
        max-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
}