/* Features section */

/* MOBILE */

.features {
    padding: 93px 0 99px 0;
    margin-left: auto;
    margin-right: auto;
}

.features-icon {
    display: none;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    
    align-content: center;
    justify-items: center;
}

.features-item {
    width: 288px;
}

.title-three {
    color: #2E2F42;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.title-two visually-hidden {
    margin-bottom: 8px;
    text-align: left;
}

.maintext {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* TABLET */

@media screen and (min-width: 768px) {
    .features {
        padding: 96px 0;
    }
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        
    } 
    .featers-item {
        width: 356px;
    }
    .title-three {
        text-align: left;
    }
}


/* DESKTOP */

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
        width: 264px;
    }

       .title-three {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1,2;
        text-align: left;
    }

    .maintext {
        font-weight: 400;
    }

    .features-icon {
        width: 100%;
        border: 1px solid rgba(142, 143, 153, 1);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 100px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    }

