/* Footer */

/* Footer */

footer .logo {
    color: #4d5ae5;
    margin-bottom: 17.5px;
    /* display: inline-block; */
    
}

footer .maintext,
footer .span-studio {
    color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
    padding: 97.5px 0 96px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

footer .maintext {
    width: 264px;
    font-weight: 400;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
   }

.social-media {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    gap: 16px;

}

.footer-icon-item {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

}


.footer-icon-item-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item-link:hover,
.footer-icon-item-link:focus {
    background-color: #31D0AA;
}


.footer-icon-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.footer-icon-item-svg {
    fill: #F4F4FD;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #2E2F42;
    align-items: center;
    justify-content: center;
    }

.footer_input_button {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer fieldset {
    border: none;
}

.footer-form-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
   
}


.form-input-info-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-input-info-footer::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}


.footer_button {
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.footer-frame-logo {
    margin-left: 16px;
}

/* TABLET */

@media screen and (min-width: 768px) {
    footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: baseline;
    justify-content: flex-start;
    padding-left: 108px;
}
.footer-logo {
    align-items: flex-start;
   }
.footer-social {
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer_input_button {
    flex-direction: row;
    column-gap: 24px;
    }
.footer-form-header {
    text-align: left;
}
.footer-form {
    align-items: flex-start;
    
}
  }


/* DESKTOP */

@media screen and (min-width:1158px) {
footer .container {
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    row-gap: 0;
        column-gap: 0;
}
.footer-logo {
    margin-right: 120px;
}
.footer-social {
    margin-right: 80px;
}

}

/* footer .logo {
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

footer .maintext,
footer .span-studio {
    color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

footer .maintext {
    width: 264px;
}

.footer-social {
    display: flex;
    flex-direction: column;
}

.social-media {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    gap: 16px;

}

.footer-icon-item {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

}


.footer-icon-item-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item-link:hover,
.footer-icon-item-link:focus {
    background-color: #31D0AA;
}


.footer-icon-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.footer-icon-item-svg {
    fill: #F4F4FD;
}

.footer-form {
    background-color: #2E2F42;
    margin-left: 80px;
}

.footer_input_button {
    display: flex;
    gap: 24px;
}

footer fieldset {
    border: none;
}

.footer-form-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;

}


.form-input-info-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-input-info-footer::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}


.footer_button {
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.footer-frame-logo {
    margin-left: 16px;
} */